{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>IST Log Parser</title>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Chewy&family=Poppins:wght@400;600&display=swap" rel="stylesheet">

  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  <!-- PrismJS CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet" />

  <link rel="icon" href="{% static 'splunkparser/images/json.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'splunkparser/css/styles.css' %}">


</head>
<body>

  <!-- Left Side: Editor -->
  <div class="editor-container">
    <div class="buttons-bar">
      <div class="left-buttons">
        <button onclick="parseLogsToJSON()">Parse to JSON</button>
        <button id="copyButton" onclick="copyOutput()">Copy Output</button>
        <button id="defaultButton" onclick="setDefault()">Set Default</button>
      </div>
      <div class="right-icons">
        <i class="bi bi-gear config-icon" title="Settings" onclick="openConfig()"></i>
      </div>
    </div>

    <div id="editor"></div>

    <div class="status-bar">
      Editor Selected: <span id="editorSelectionCount">0</span> characters
    </div>
  </div>

  <!-- Right Side: Output -->
  <div class="output-container">
    <div class="output-content">
      <h3>Parsed Output</h3>
      <div id="notification"></div>
      <pre id="outputArea" class="language-json"></pre>
      <div class="output-validation">
        <h4>Validation Result</h4>
        <pre id="validationArea" class="language-json"></pre>
      </div>
      
    </div>

    <div class="status-bar">
      Output Selected: <span id="outputSelectionCount">0</span> characters
    </div>
  </div>

  <!-- Hidden CSRF Token -->
  <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

  <!-- JS Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/js-yaml@4.1.0/dist/js-yaml.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-json.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/components/prism-yaml.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/monaco-editor@0.34.1/min/vs/loader.js"></script>

  <script src="{% static 'splunkparser/js/scripts.js' %}"></script>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
