{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Monkey</title>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
    <link rel="icon" href="{% static 'home/images/monkey.png' %}" type="image/png">
    
</head>
<body>

<header>
    <h1>Monkey <span class="beta">BETA</span> <img src="{% static 'home/images/wip.gif' %}" alt="WIP GIF" class="wip-gif"></h1>
    <div class="gif-container">
        <img src="{% static 'home/images/monkey.gif' %}" alt="Monkey GIF" class="monkey-gif">
    </div>
    <div class="search-container">
        <input type="text" placeholder="Search..." class="search-bar" id="searchBar">
    </div>
</header>

<section class="container" id="appContainer">
    <div class="app-card">
        <h3>Slot Booking</h3>
        <p>Book slots for clients.</p>
        <a href="/slot_booking/" class="btn">Launch</a>
    </div>

    <div class="app-card">
        <h3>Splunk Parser</h3>
        <p>Parse Splunk logs to mango</p>
        <a href="/splunkparser/" class="btn">Launch</a>
    </div>

    <div class="app-card">
        <h3>Text Comparison</h3>
        <p>Compare two pieces of texts.</p>
        <a href="/compare/" class="btn">Launch</a>
    </div>

    <div class="app-card">
        <h3>Splunk RRN</h3>
        <p>Generate Splunk queries</p>
        <a href="/splunkrrn/" class="btn">Launch</a>
    </div>
    <div class="app-card">
        <h3>Database Query</h3>
        <p>DB Query Executor</p>
        <a href="/runquery/" class="btn">Launch</a>
    </div>
    <div class="app-card">
        <h3>Validate test cases</h3>
        <p>Validate test cases</p>
        <a href="/validate_testcases/" class="btn">Launch</a>
    </div>
    <div class="app-card">
        <h3>Reversals</h3>
        <p>Generate Reversal and Refunds</p>
        <a href="/gen_reversals/" class="btn">Launch</a>
    </div>

    <div class="app-card">
        <h3>JSON to YAML Converter</h3>
        <p>Convert JSON to YAML.</p>
        <a href="/yaml2json/" class="btn">Launch</a>
    </div>

    <div class="app-card">
        <h3>PDF Merger</h3>
        <p>Merge multiple PDFs in one click.</p>
        <a href="/pdf_merger/" class="btn">Launch</a>
    </div>

    <div class="app-card">
        <h3>Bin Block</h3>
        <p>Block bins</p>
        <a href="/binblock/" class="btn">Launch</a>
    </div>
    <div class="app-card">
        <h3>Astrex logs filter</h3>
        <p>Filter Astrex html logs on basis on PSP</p>
        <a href="/astrex_html_logs/" class="btn">Launch</a>
    </div>
    <div class="app-card">
        <h3>EMVCO Logs filter</h3>
        <p>Filter Astrex/MasterCard emvco logs on basis on PSP</p>
        <a href="/emvco_logs/" class="btn">Launch</a>
    </div>
    <div class="app-card">
        <h3>Mastercard XML Logs filter</h3>
        <p>Filter MasterCard XML logs on basis on PSP. This is NOT for EMVCO format logs </p>
        <a href="/emvco_logs/" class="btn">Launch</a>
    </div>
</section>

<footer>
    <!-- &copy; 2025 Fiserv. All rights reserved. -->
     Beta version 2.0
</footer>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const searchBar = document.getElementById('searchBar');
    const appContainer = document.getElementById('appContainer');
    const appCards = Array.from(appContainer.getElementsByClassName('app-card'));

    searchBar.addEventListener('keyup', function() {
        const query = searchBar.value.toLowerCase();

        appCards.forEach(card => {
            const title = card.getElementsByTagName('h3')[0].innerText.toLowerCase();
            const description = card.getElementsByTagName('p')[0].innerText.toLowerCase();

            if (title.includes(query) || description.includes(query)) {
                card.style.display = 'block';
            } else {
                card.style.display = 'none';
            }
        });
    });

});
</script>

</body>
</html>
