__pycache__/
*.pyc
migrations
media/
*.log
.gitlab-ci-mango.yml
terraform/*
!/*.tf
# git rm --cached *.log
# find . -name "*.log" -exec git rm --cached {} \;
# git commit -m "Ignore all .log files"
# git push origin your-branch-name
