<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>Astrex HTML Log Processor</title>
  <link rel="stylesheet" href="{% static 'astrex_html_logs/css/styles.css' %}">
  <link rel="icon" href="{% static 'astrex_html_logs/images/debugging.png' %}" type="image/png">
</head>
<body>

<div class="container">

  <div class="top-row">
    <div class="left-section">
      <h2>Upload Astrex HTML Log</h2>
      <input type="file" id="htmlLogFile" accept=".html">
      <div class="file-name">
        <span id="uploadedFileName"></span>
        <button id="copyFileNameBtn" class="button">📋 Copy Filename</button>
      </div>
      <a href="/astrex_html_logs/admin/" class="button" style="background-color: #20c997;">⚙️ Admin Settings</a>
    </div>

    <div class="right-section">
      <div class="summary-container">
        <h3>Summary</h3>
        <div id="summaryDetails"></div>
        <button id="downloadAllBtn" class="button" style="display: none;">⬇️ Download All Filtered Files</button>
        <p id="scriptRunDuration">Script Run Duration: 0h 0m 0s</p>
      </div>
    </div>
  </div>

  <div class="bottom-row">
    <div class="unique-de32-container">
      <h3>Unique DE032 Values</h3>
      <div class="de32-box-container" id="de032Container"></div>
    </div>
  </div>

</div>

<div class="loading-overlay" id="loadingScreen" style="display:none;">
  <div class="loading-content">
    <img src="{% static 'astrex_html_logs/images/search-file1.gif' %}" alt="Loading" class="loading-gif">
    <p>Processing your file...</p>
  </div>
</div>

<script src="{% static 'astrex_html_logs/js/scripts.js' %}"></script>

</body>
</html>
