{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Upload EMVCo XML Logs</title>
  <link rel="stylesheet" href="{% static 'emvco_logs/css/styles.css' %}">
  <link rel="icon" href="{% static 'emvco_logs/images/debugging.png' %}" type="image/png">
</head>
<body>

<div class="container">
  <div class="top-row">
    <div class="left-section">
      <h3>XML EMVCo Logs Uploader</h3>
      
      <input type="file" id="xmlLogFile" accept=".xml">
      
      <div id="logInfo" class="file-name" style="margin-top: 10px;">
        <span id="uploadedFileName"></span>
      </div>

      <div id="processingTimeContainer" style="margin-top: 10px; display: none;">
        <strong>Total Processing Time:</strong> <span id="processingTime">N/A</span>
      </div>

      <button id="downloadAllBtn" class="button" style="margin-top: 20px; display: none;">Download All Filtered (ZIP)</button>
    </div>

    <div class="right-section">
      <div class="summary-container">
        <h3>Summary</h3>
        <div id="summaryContent"></div>
      </div>
    </div>
  </div>

  <div class="bottom-row">
    <div class="unique-de32-container">
      <h3>Unique DE32 Counts</h3>
      <div id="summaryContainer" class="de32-box-container"></div>
    </div>
  </div>
</div>

<div id="loadingOverlay" class="loading-overlay" style="display: none;">
  <div class="loading-content">
    <div id="gifContainer" class="gif-container">
      <img src="{% static 'emvco_logs/images/monkey.gif' %}" class="loading-gif">
      <img src="{% static 'emvco_logs/images/cut.gif' %}" class="loading-gif">
      <img src="{% static 'emvco_logs/images/president.gif' %}" class="loading-gif">
      <img src="{% static 'emvco_logs/images/search-file1.gif' %}" class="loading-gif">
      <img src="{% static 'emvco_logs/images/search.gif' %}" class="loading-gif">
      <img src="{% static 'emvco_logs/images/technician.gif' %}" class="loading-gif">
      <img src="{% static 'emvco_logs/images/telecommuting.gif' %}" class="loading-gif">
      <img src="{% static 'emvco_logs/images/work-in-progress.gif' %}" class="loading-gif">
    </div>

    <div class="processing-text">
      ⏳ Processing... Please wait...
    </div>

    <div id="timer">Elapsed time: 00:00</div>
  </div>
</div>


<script src="{% static 'emvco_logs/js/scripts.js' %}"></script>

</body>
</html>
